<mat-toolbar>

    <button mat-button><span id="siteTitle" routerLink="/" routerLinkActive="active">{{'Google Books Search'}}</span></button>
    <span class="spacer">{{user ? 'Welcome ' + user : ''}}</span>
    <!-- <ng-template *ngIf="localStorageService.get('currentUser')"> -->
    <button title="Search" mat-icon-button routerLink="/search" routerLinkActive="active"><mat-icon class="icon" aria-hidden="false" aria-label="search icon">search</mat-icon></button>
    <button title="Favorites" id="favoriteBtn" mat-icon-button routerLink="/favorites" routerLinkActive="active"><mat-icon class="icon pull-right" aria-hidden="false" aria-label="favorite icon">favorite</mat-icon></button>
    <button title="Sign Out" mat-icon-button (click)="logout();" routerLink="/login" routerLinkActive="active"><mat-icon class="icon" aria-hidden="false" aria-label="search icon">exit_to_app</mat-icon></button>

    <!-- </ng-template> -->
</mat-toolbar>

<router-outlet></router-outlet>